@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300&family=Roboto&family=Ubuntu&display=swap');

.font-robot{
    font-family: 'Roboto', sans-serif;
}

.font-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.font-sans{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction:column
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: 600;
}

.font-bolder{
    font-weight: 700;
}

.font-boldest{
    font-weight: 800;
}

.font-super-bold{
    font-weight: 900;
}

.bg-red{
    background: red;
}

.text-white{
    color:white;
}

.text-black{
    color:black;
}

.bg-black{
    background: black;
}

.bg-white{
    color:white;
}

.btn{
    border:none;
    cursor:pointer;
    height:38px;
    width:90px;
    border-radius:10px;
    font-size: 1rem;
}

/* .btn-sm btn-lg margin padding container grid*/

.full-page{
    height:100vh;
}